{% include 'header.twig' %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SweetNews</a>
    </div>

    <form class="navbar-form form-inline pull-right">
        <div class="btn-group">
        <a href="/" type="button" class="btn btn-success disabled">Date</a>
        <a href="/cats" type="button" class="btn btn-success">Source</a>
        </div>
    </form>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>All News</h2>
    </div>
  </div>
</div>

  <ul class="list-unstyled all-articles">
  {% for article in articles %}<li
    class='article-wrap' feed-name="{{article.feedName}}" feed-category="{{article.feedCategory}}">
      {% if article.thumbnail is not empty %}<div
      class="article has-background" data-original="{{article.thumbnail}}" style="background-size:cover;background-image:url(nothing.jpg)">
      {% else %}<div
      class="article">
      {% endif %}
      <div class="darken"></div>
      <div
        class='content'>
          <a href="{{article.link}}" target="_blank">
            <h3>{{article.title}}</h3>
          </a>
          <p>{{article.published|date("m/d/Y")}}</p>
        </div>
      </div>
    </li>{% endfor %}
  
  </ul>


{% include 'footer.twig' %}
